*, *::before, *::after {
	padding: 0;
	margin: 0;
}
html, body {
	width: 100%;
	height: 100%;
}
body {
	font-family: 'Montserrat Alternates', sans-serif; 
	font-size: 16px;
	font-weight: 400;
}
a, button {
	transition: all 0.2s ease;
	cursor: pointer;
}
a{
	text-decoration: none;
}
ul{
	list-style: none;
}
.container {
   max-width: 1140px;
   width: 90%;
   margin: 0 auto;
}   

// img {
// 	width: 90%;
// 	height: 100%;
//     //object-fit: cover;
// }
header{
    margin: 8px 0 12px;
    height: 36px;
    color: #2F2F2F;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    position: relative;
    z-index: 2;
    background-color: #fff;
    .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
       
        nav {
            width: 360px;
            ul{
                display: flex;
                justify-content: space-around;
                a{
                    color: #2F2F2F;
                    position: relative;
                    padding-bottom: 8px;
                    &::after{
                        content: '';
                        border-bottom: 2px solid #D09600;
                        border-radius: 5px;
                        position: absolute;
                        bottom: 0;
                        left: 0px;
                        width: 0;
                        transition: all .5s;
                    }
                    &:hover{
                        font-weight: 600;
                        color: #D09600;
                        transition: all .2s;
                        &::after{
                            width: 100%;
                        }
                    }
                }
            }
        }
        .num_mob{
            display: flex;
            align-items: center;
            span{
                font-weight: 500;
                font-size: 14px;
                line-height: 18px;
                color: #2F2F2F;
            }
        }
        svg{
            width: 28px;
            height: 23px;
        }
    }
}
.footer_botton{
    background-color: #2F2F2F;
    color: #D09600;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    span{
        margin: 8px;
    }
}
.logo{
    width: 75px;
}
.footer_top{
    margin-bottom: 32px;
    svg{
        width: 28px;
        height: 23px;
    }
    &_nav{
        display: flex;
        align-items: center;
        margin-bottom: 25px;
        nav{
            margin: 0 auto;
            ul{
                display: flex;
                a{
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 18px;
                    color: #7F7F7F;
                    padding: 20px;
                    &:hover{
                        font-weight: 600;
                        color: #D09600;
                    }
                }
            }
        }
       
        
    }
    .num_mob{
        span{
        font-weight: 600;
        font-size: 14px;
        line-height: 18px;
        color: #7F7F7F;
        }
       
    }
}
h1{
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    line-height: 56px;
    color: #fff;
    width: 750px;
    margin-bottom: 40px;
}
.btn{
    border: none;
    padding: 16px 46px ;
    background-color: #D09600;
    border-radius: 50px;
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    color: #fff;
    text-align: center;
    font-family: 'Montserrat Alternates', sans-serif; 
    &:hover{
        color: #D09600;
        background-color: #2F2F2F;
        box-shadow: 0px 0px 10px #D09600;
    }
}
.home{
    background-image:  linear-gradient( rgba(0,0,0,0), rgba(0, 0, 0, 0.2) ), url(/assets/img/home.png);
    background-size: cover;
    background-position: bottom center;
    padding-top: 208px;
    height: 650px;
    margin-bottom: 172px;
        &_total{
            width: 750px;
            margin: 0 auto;
            padding-bottom: 350px;
            .btn{
                margin: 0 auto;
                display: block;
            }
        }
        &_inform{
            background-color: #fff;
            border-radius: 50px;
            padding: 74px;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            font-size: 15px;
            
            h4{
                color: #2F2F2F;
                padding-bottom: 16px;
                font-weight: 400;
            }
            span{
                color: #7F7F7F;
            }
            &_item{
                display: grid;
                grid-template-columns: 40px 1fr;
                gap: 16px;
                align-items: center
            }
        }   
}
.sectiont_two, .services{
    position: relative;
    display: block;
}
.about{
    display: grid;
    grid-template-columns: 522px 1fr;
    gap: 96px;
    margin-bottom: 48px;
    h2{
        line-height: 56px;
        font-size: 40px;
        font-weight: 600;
        color: #2F2F2F;
        margin-bottom: 64px;
    }
    h3{
        font-size: 20px;
        font-weight: 500;
        color: #2F2F2F;
        line-height: 34px;
        margin-bottom: 16px;
    }
    p{
        font-size: 15px;
        font-weight: 400;
        color: #7F7F7F;
        padding-bottom: 46px;
    }
    &_item{
        width: 522px;
        span{
            color: rgba(208, 150, 0, 0.5);
            font-size: 70px;
            font-weight: 700;
        }
        &__par{
            display: grid;
            grid-template-columns: 91px 1fr;
            gap: 40px;
            justify-items: center;
            align-items: center;
        }
    }
    &_img{
       .bec{
            position: absolute;
            display: block;
            top: 0;
            right: 0;
            z-index: 1;
       }
       .top{
            position: absolute;
            top: 92px;
            z-index: 5;
        }
    }
}

.grid_lf{
    display: grid;
    gap: 48px;
    grid-template-columns: 60% 30%;
    margin-bottom: 72px;
}
.grid_rt{
    display: grid;
    gap: 48px;
    grid-template-columns: 30% 60%;
    .services_blok{
        grid-column: 2;
    }
}
.serv_one{
    position: absolute;
    top: 100px;
    right: 0;
}
.serv_two{
    position: absolute;
    left: 0;
    bottom: 72px;
}
.revers{
    flex-direction: row-reverse;
}
h2{
    font-size: 40px;
    text-align: center;
    margin-bottom: 72px;
    font-weight: 600px;
}
.services{
    margin-bottom: 88px;
    position: relative; 
    h3{
        font-weight: 600;
        font-size: 30px;
        line-height: 42px;
        margin-bottom: 24px;
    }
    p{
        font-size: 20px;
        font-weight: 500px;
        color: #2F2F2F;
        line-height: 34px;
        margin-bottom: 40px;
    }
    span{
        font-weight: 400;
        font-size: 15px;
        line-height: 18px;
        color: #2F2F2F;
    }
    &_blok{
        .btn_blok{
            display: flex;
            gap: 80px;
            align-items: center;
            margin-bottom: 80px;
            .btn{
                padding: 16px 69px;
            }
            a{
                font-style: normal;
                font-weight: 600;
                font-size: 16px;
                line-height: 18px;
                text-decoration-line: underline;
                text-transform: capitalize;
                color: #2F2F2F;
                &:hover{
                    color:#D09600;
                }
            }
        }
        
        &_item{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            margin-bottom: 64px;
            gap: 40px;
            .element{
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 40px;
            }
        }
    }
}

.counter{
    display: flex;
    justify-content: space-between;
    margin-bottom: 56px;
    &_blok{
        display: flex;
        flex-direction: column;
        align-items: center;
        span{
            font-weight: 700;
            font-size: 70px;
            line-height: 85px;
            text-align: center;
            color: rgba(208, 150, 0, 0.6);
        }
        h5{
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            line-height: 24px;
            text-align: center;
            text-transform: uppercase;
            color: #2F2F2F;
            }
    }
}
.count{
    margin-bottom: 64px;
    background-image: url(/assets/img/counter.png);
    background-size: cover;
    background-position: bottom center;
   
    .container{
         padding: 80px 0 70px 0;
         color: #FFFFFF;
         max-width: 460px;
         h3{
            font-weight: 600;
            font-size: 30px;
            line-height: 42px;
            margin-bottom: 24px;
         }
         p{
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            line-height: 34px;
            margin-bottom: 64px;
        }
        .btn{
            padding: 16px 83px;
        }
    }
}